@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    background: linear-gradient(#F0E1D9, #E4CCBF);
}

:root {
    --primary-color: #804E33;
    --secondary-color: #7a4a36;
    --paragraph-text-family: 'Inter', serif;
    --heading-text-family: 'Archivo', serif;
    --dim-paragraph-color: black;
}

::selection {
    background-color: var(--secondary-color);
    color: pink;
}

/* header navbar  */

.navigation-bar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    max-width: 1440px;
    margin-inline: auto;
    padding-top: 20px;
}

.logo {
    height: 50px;
    width: 80px;
    cursor: pointer;
}

.logo a img {
    height: 100%;
    width: 100%;
}

.company-name {
    color: var(--primary-color);
    font-size: 40px;
    font-family: var(--text-family);
    font-weight: 700;
    letter-spacing: 4px;
}

.navigation-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.navigation-list {
    height: 50px;
    position: relative;
    font-family: var(--paragraph-text-family);
}

.navigation-list::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: opacity, transform 0.2s linear;
}

.navigation-list:hover::before {
    opacity: 1;
    transform: scaleX(1);
}

.navigation-list a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-family: var(--text-family);
    font-weight: 600;
    text-transform: uppercase;
}

/* company intro */

.company-intro-information{
    margin-top: 50px;
    max-width: 1440px;
    margin-inline: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.company-intro-heading{
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-color);
    font-family: var(--heading-text-family);
}

.company-paragraph{
    text-align: justify;
    margin-inline: auto;
    line-height: 26px;
    color: 000000;
    margin-top: 10px;
    font-family: var(--paragraph-text-family);
}